﻿@model Messenger.Models.SearchByUIdViewModel

<h2>Searcth by UId</h2>

<form asp-action="Index" asp-controller="SearchByUId">
    <div>
        <div class="form-group">
            <label asp-for="UId">Enter user UId:</label>
            <input type="text" asp-for="UId" />
            <span asp-validation-for="UId" />
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
