﻿@model Messenger.Models.SettingsViewModel

<h2>Settings</h2>

<form asp-action="Index" asp-controller="Settings">
    <div>
        <h4>Your uniq Id: @Model.UId</h4>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="NewUserName">Enter new user name</label>
            <input type="text" asp-for="NewUserName" />
            <span asp-validation-for="NewUserName" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">Enter new password</label>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword" />
        </div>
        <div class="form-group">
            <label asp-for="IsVisible">Visible in Users</label>
            <input asp-for="IsVisible" />
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}