﻿@model IEnumerable<Messenger.CoreModels.User>

<h1>Users</h1>
<div>
    <td>
        <a asp-controller="SearchByUId" asp-action="Index">SearchByUId</a>
    </td>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-controller="Invitation" asp-action="Invite" asp-route-id="@item.Id">Add</a>
            </td>
        </tr>
    }
</table>