﻿@model Messenger.Models.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" asp-controller="Account">
    <div>
        <div class="form-group">
            <label asp-for="UserName">Enter UserName</label>
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Enter Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Enter Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Enter ConfirmPassword</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
